.tabs-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 58px;
    .tabs-title-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        .tabs-title {
            margin: 0;
            // width: 80%;
            font-family: "Rubik", sans-serif;
        font-size: 32px;
        font-weight: 600;
        color: hsl(229, 31%, 21%);
    }
    
    .tabs-desc {
        margin: 0;
        width: 70%;
        font-family: "Rubik", sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: hsl(229, 8%, 60%);
    }
    
}
    .btn-tab-grp {
        display: flex;
        gap: 24px;

        .btn-tab {
            padding: 0.8rem 2rem;
            background-color: transparent;
            color: hsl(229, 8%, 60%);

            font-family: "Rubik", sans-serif;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.1em;
            border: none;
            outline: none;
            cursor: pointer;
            // border-radius: 7px;
            
            &:hover {
                color: hsl(0, 94%, 66%);
            }
        }
        
        .active {
            border-bottom: 3px solid hsl(0, 94%, 66%);
            
        }
    }
    
    .tabs-content {
        display: flex;
        gap: 58px;
        
        .tabs-img-container {
            flex: 1.5;

            .tabs-img {
                height: 80%;
                width: 80%;
            }
        }
        
        .tabs-content-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // justify-content: center;
            gap: 24px;
            margin-top: 2rem;
            
            .tabs-content-title {
                margin: 0;
                color: hsl(229, 31%, 21%);
                font-family: "Rubik", sans-serif;
                font-size: 36px;
                font-weight: 400;
                // letter-spacing: 0.05em;
            }

            .tabs-content-desc {
                width: 80%;
                margin: 0;
                color: hsl(229, 8%, 60%);
                font-family: "Rubik", sans-serif;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.1em;
            }
            
            .btn-more-info {
                width: 40%;
                padding: 0.8rem 2rem;
                background-color: hsl(231, 69%, 60%);
                color: #fff;
                
                font-family: "Rubik", sans-serif;
                font-size: 400;
                letter-spacing: 0.1em;
                border: none;
                outline: none;
                cursor: pointer;
                
                border-radius: 7px
            }
        }
    }
}